<div class="row">
  <div class="col-md-3">
    <nav class="bs-docs-sidebar affix">
      <ul class="nav">
        <li *ngFor="let module of modules" [ngClass]="{ 'active': moduleSelected==module }" (click)="toggleModule(module)">
          <a>{{module}}</a>
          <ul class="nav">
            <li *ngFor="let option of menuByModule(module)">
              <a [routerLink]="option.path" routerLinkActive="active" (click)="setExample(option.example)">{{option.title}}</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
  <div class="col-md-7 example-view">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-6 col-md-offset-3 example" *ngIf="!showView">
    <pre>
      <h3>{{example.title}} 
<small>{{example.component}}</small></h3>
      
<label>{{example.description}}</label>
    <label>{{example.objective}}</label>
    </pre>
  </div>
  <div class="col-md-1 col-md-offset-1" *ngIf="example">
    <a class="btn help" (click)="toogleShowView()">?</a>
  </div>
</div>