.bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
}
.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.bs-docs-sidebar .nav>.active>ul {
    display: block;
}
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    display: block;
}
.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #767676;
    cursor: pointer;
}
 .bs-docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #eb5821;
    background-color: transparent;
    border-left: 2px solid #eb5821;
}

a.active {
    padding-left: 18px;
    font-weight: 700;
    color: #eb5821;
    background-color: transparent;
    border-bottom: 2px solid #eb5821;
    padding: 4px 20px;
}

.nav>.active>a {
    padding-left: 28px;
    font-weight: 500;
    color: #eb5821;
    background-color: transparent;
    border-left: 2px solid #eb5821;
}

.btn.help{
    
    top: 50px;
    position: absolute;
    font-family: fantasy;
    font-size: 40px;
    background: #fff;
    color: #eb5821;
}
.example {
    position: absolute;
    top: 140px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}
.example-view{
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}