<div class="row">



  <table class="table">
    <thead>
      <th>
        Original Value
      </th>
      <th>
        Expected Value
      </th>
      <th>
        Piped Value
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          {{list[0].value}}
        </td>
        <td>
          {{list[0].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[1].value}}
        </td>
        <td>
          {{list[1].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[2].value}}
        </td>
        <td>
          {{list[2].value| number:'.5-5'}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[3].value}}
        </td>
        <td>
          {{list[3].value| currency:'USD':true}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[4].value}}
        </td>
        <td>
          {{list[4].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[5].value}}
        </td>
        <td>
          {{list[5].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[6].value}}
        </td>
        <td>
          {{list[6].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[7].value}}
        </td>
        <td>
          {{list[7].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          {{list[8].value}}
        </td>
        <td>
          {{list[8].expectedResult}}
        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>